@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

#sidebar {
  width: 220px;
  background-color: #007bff;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza verticalmente */
}

img#userPhoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

#userInfo {
  max-width: 200px; /* Aumentando a largura máxima */
  width: 100%;
  text-align: center; /* Centraliza o texto */
  padding: 25px; /* Aumentando o espaço interno */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Espaço acima para não sobrepor a foto */
  margin-bottom: 20px; /* Aumentando o espaço externo */
  transition: max-width 0.3s ease;
}

#userInfo h2 {
  color: #007bff;
  margin-bottom: 15px;
  font-size: 18px;
}

#userInfo p {
  margin: 12px 0;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.content {
  flex: 1;
  padding: 40px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#rightSection {
  width: 220px;
  background-color: #f0f0f0;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: #f9f9f9;
  margin: 8px 0;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

#imageModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#imageModal span {
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

#imageModal img,
#imageModal iframe {
  max-width: 80%;
  max-height: 80%;
  border: none;
}
